[submodule "base/osac-operator"]
	path = base/osac-operator
	url = https://github.com/osac-project/osac-operator.git
[submodule "base/osac-fulfillment-service"]
	path = base/osac-fulfillment-service
	url = https://github.com/osac-project/fulfillment-service.git
[submodule "base/osac-aap"]
	path = base/osac-aap
	url = https://github.com/osac-project/osac-aap.git
[submodule "base/bare-metal-fulfillment-operator"]
	path = base/bare-metal-fulfillment-operator
	url = https://github.com/osac-project/bare-metal-fulfillment-operator.git
